<br>
<br>
<%= link_to "Add a new pool", new_pool_path, class: "btn btn-flat" %>
<div class="card-container">
    <% @pools.sample(30).each do |pool| %>
        <%= link_to pool_path(pool), class:"text-decoration-none" do %>
            <div class="card-pool">

                <% if pool.photo.attached?  %>
                  <%= cl_image_tag pool.photo.key, height: 300, width: 400, crop: :fill %>
                <% else %>
                    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
                <% end %>

                <div class="card-pool-infos">
                    <div>
                    <h2><%= pool.name %></h2>
                    <h2><%= pool.user.name %></h2>
                    <p>Short description here!</p>
                    </div>
                    <h2 class="card-pool-pricing">£<%= pool.price %></h2>
                    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-pool-user avatar-bordered" />
                </div>
            </div>
        <% end %>
    <% end %>
</div>