<%= link_to "Update pool", edit_pool_path(@pool), class: "btn btn-flat" %>
<%= link_to "See pools", pools_path, class: "btn btn-flat" %>

<div class="card-container">
    
    <div class="card-pool">
        
        <% if @pool.photo.attached?  %>
            <%= cl_image_tag @pool.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <% end %>

        <div class="card-pool-infos">
            <div>
                <h2><%= @pool.name %></h2>
                <p>Short description here!</p>
            </div>
            <h2 class="card-pool-pricing">£<%= @pool.price %></h2>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-pool-user avatar-bordered" />
        </div>
    </div>

    <div class="container">
        <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
            <h2>Book This Pool</h2>
            <%= simple_form_for [ @pool, @booking ] do |f| %>
            
            <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
            <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
            <%= f.button :submit, "Go", class: "btn btn-primary" %>
            <% end %>
        </div>
    </div>

</div>